- name: Checkout Main Plugin
  uses: actions/checkout@v4
  with:
    path: QuickLook.Plugin.ImageViewer-with-LiveText

- name: Checkout Common
  uses: actions/checkout@v4
  with:
    repository: QL-Win/QuickLook.Common
    # This places it at the same level as the plugin folder
    path: QuickLook.Common 

- name: Checkout HtmlViewer
  uses: actions/checkout@v4
  with:
    repository: QL-Win/QuickLook
    sparse-checkout: QuickLook.Plugin/QuickLook.Plugin.HtmlViewer
    path: QuickLook.Plugin.HtmlViewer
