name: Build Plugin

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2025

    steps:
      - name: Checkout All Repos
        shell: pwsh
        run: |
          # Clone everything into the current directory clearly
          git clone https://github.com/Vlad-23/QuickLook.Plugin.ImageViewer-with-LiveText ImageViewer
          git clone https://github.com/QL-Win/QuickLook.Common QuickLook.Common
          
          # Extract HtmlViewer
          git clone --depth 1 https://github.com/QL-Win/QuickLook temp_ql
          xcopy /E /I temp_ql\QuickLook.Plugin\QuickLook.Plugin.HtmlViewer QuickLook.Plugin.HtmlViewer

      - name: Create Version File (Force Absolute Root)
        shell: pwsh
        run: |
          $v = 'using System.Reflection; [assembly: AssemblyVersion("1.0.0.0")]'
          # Create it in the current folder
          New-Item -Path "GitVersion.cs" -ItemType File -Value $v -Force
          # Create it one level up just in case
          New-Item -Path "../GitVersion.cs" -ItemType File -Value $v -Force
          # Put it in the specific places projects look
          New-Item -Path "QuickLook.Common/GitVersion.cs" -ItemType File -Value $v -Force
          New-Item -Path "QuickLook.Plugin.HtmlViewer/GitVersion.cs" -ItemType File -Value $v -Force

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Restore and Build
        shell: pwsh
        run: |
          # We must restore Common and HtmlViewer EXPLICITLY because they are siblings
          dotnet restore "QuickLook.Common/QuickLook.Common.csproj"
          dotnet restore "QuickLook.Plugin.HtmlViewer/QuickLook.Plugin.HtmlViewer.csproj"
          dotnet restore "ImageViewer/QuickLook.Plugin.ImageViewer.csproj"

          # Build in order
          msbuild "QuickLook.Common/QuickLook.Common.csproj" /p:Configuration=Release /p:PreBuildEvent="" /p:PostBuildEvent=""
          msbuild "QuickLook.Plugin.HtmlViewer/QuickLook.Plugin.HtmlViewer.csproj" /p:Configuration=Release /p:PreBuildEvent="" /p:PostBuildEvent=""
          
          # Final Project
          msbuild "ImageViewer/QuickLook.Plugin.ImageViewer.csproj" `
            /p:Configuration=Release `
            /p:Platform="Any CPU" `
            /p:PreBuildEvent="" `
            /p:PostBuildEvent="" `
            /p:GenerateGitVersionInformation=false `
            /p:OutputPath="../build_output/"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: QuickLook.Plugin.ImageViewer
          path: build_output/
