name: Build Plugin
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fix Missing GitVersion File
        run: |
          $content = 'using System.Reflection; [assembly: AssemblyVersion("1.0.0.0")] [assembly: AssemblyFileVersion("1.0.0.0")]'
          New-Item -Path "GitVersion.cs" -ItemType File -Force -Value $content
          New-Item -Path "../GitVersion.cs" -ItemType File -Force -Value $content
          New-Item -Path "../../GitVersion.cs" -ItemType File -Force -Value $content
        shell: pwsh

      - name: Download QuickLook Dependencies
        run: |
          Invoke-WebRequest -Uri "https://github.com/QL-Win/QuickLook/releases/download/3.7.1/QuickLook.Zip.zip" -OutFile "QL.zip"
          Expand-Archive -Path "QL.zip" -DestinationPath "$pwd/QL_Base"
          $projDir = Get-ChildItem -Recurse -Filter "*.csproj" | Select-Object -First 1 | ForEach-Object { $_.Directory.FullName }
          $libDir = New-Item -ItemType Directory -Force -Path "$projDir/libs"
          Copy-Item "QL_Base/QuickLook.Common.dll" -Destination "$projDir/"
          Copy-Item "QL_Base/QuickLook.Common.dll" -Destination "$libDir/"
        shell: pwsh

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Setup NuGet
        uses: nuget/setup-nuget@v2

      - name: Restore and Build
        run: |
          $projectFile = Get-ChildItem -Recurse -Filter *.csproj | Select-Object -First 1
          nuget restore $($projectFile.FullName)
          msbuild $($projectFile.FullName) /p:Configuration=Release /p:Platform="Any CPU" /p:ReferencePath="$pwd/QL_Base"
        shell: pwsh

      - name: Upload Finished Plugin
        uses: actions/upload-artifact@v4
        with:
          name: Translated-LiveText-Plugin
          path: "**/*.qlplugin"
