name: Build Plugin
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Setup NuGet
        uses: nuget/setup-nuget@v2

      - name: Restore and Build
        run: |
          # Find the project file dynamically
          $projectFile = Get-ChildItem -Recurse -Filter *.csproj | Select-Object -First 1
          Write-Host "Found project file: $($projectFile.FullName)"
          
          # Restore dependencies
          nuget restore $projectFile.FullName
          
          # Build the project
          msbuild $projectFile.FullName /p:Configuration=Release /p:Platform="Any CPU"

      - name: Upload Finished Plugin
        uses: actions/upload-artifact@v4
        with:
          name: Translated-LiveText-Plugin
          path: "**/*.qlplugin"
